h1 {
  display: inline-block;
  margin: 20px auto;
  border-bottom: 2px solid #062;
}

h1 img {
  width: 300px;
  height: 125px;
  margin-right: 10px;
}

@media (prefers-color-scheme: dark) {
  h1 img {
    filter: brightness(0.8) invert(1);
  }
}

body {
  font-family: Victor mono, Arial, sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.contents-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  width: 80%;
  margin: auto;
  gap: 10px;
  justify-content: center;
}

.gameInfo {
  display: flex;
  flex-direction: column;
  border: 2px solid #333;
  border-radius: 15px;
  font-size: 24px;
}

li {
  list-style-type: none;
}

.gameImg img {
  margin-top: 5px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.gameName {
  margin-top: 10px;
  display: block;
  word-wrap: break-word;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: black;
}
