body {
  font-family: Victor mono, Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.left-menu {
  order: 1; /* 왼쪽 메뉴를 첫 번째로 배치 */
  display: flex;
  align-items: center;
}

.burger-menu {
  font-size: 30px;
  cursor: pointer;
  /* position: fixed; */
  top: 20px;
  left: 20px;
  z-index: 100;
  margin-right: 10px;
}

.sideBar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 99;
}

.sideBar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sideBar a:hover {
  background-color: #575757;
}

.sideBar .closeBtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 36px;
}

.search-box {
  order: 2;
}

.search-textBox {
  width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.search-button {
  padding: 10px;
  border: none;
  background-color: #8f8f8f;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  /* margin-left: 10px; */
}

.right-menu {
  order: 3;
}

.menu-button,
.home-button {
  background-color: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.notification-button,
.dashboard-button,
.toggle-theme {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  font-size: 30px;
}

img {
  width: 30px;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
  /* filter: invert(95%) hue-rotate(180deg); */
  /* filter: brightness(0.8) invert(1); */
}
